#main-nav>div>ul>li:hover {
    // background-color: #ffffff;
    // background-color: blue;
    background-color: #34c9eb;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 9px;
}


.loginNav{
    background-color: #43505c !important;
}